body { 
 background-color: rgb(219, 197, 217);
}
h1{
  border-style: double;
  border-width: 1px;
  display: inline;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  
}
img{
    size-adjust: 400px;
    border-radius: 100px;
    max-width: 1500px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}
button {
  background-color: #f58d8d; /*  */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  
  
  
}
