body { 
 background-color: rgb(219, 197, 217);
 
 
}
.h1{
  border-style: double;
  border-width: 1px;
  display: inline;
  border-top-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  float: left;
  
  
  
}
.p1{
  text-align: center;
  font-size: 16px;
  padding-left: 10em;
  padding-right: 10em;
  
  
  
}
.img{
    size-adjust: 400px;
    border-radius: 100px;
    max-width: 1500px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    display: inline;
}
.img2{
  size-adjust: 400px;
  max-width: 400px;
  max-height: 400px;
  
}

button {
  background-color: #f58d8d; /*  */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px 0px 20px 0px;
  
}
footer{
  margin-top: 10em;
  background-color: #eee1e1;
  padding: 15px 15px;
  text-align: center;
  position: sticky
  bottom 0px;
  
}
h2{
  text-align: center;
  margin-top: 2em;
  
}

.eq{
  text-align: center;
  margin-bottom: 3.5em;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h2{
  padding-top: 0px;
}

.lists{
  padding-left: 5em;
}

      
      /* Styles for screen widths 769px to 1200px */
      @media only screen and (max-width: 1200px) {
        p{
          font-size: 20px
        
         }
        h1{
              font-size: 30px
          }
      }
      
      /* Styles for screen widths 321px to 768px */
      @media only screen and (max-width: 768px) {
        p{
          font-size: 20px
         }
        h1{
              font-size: 20px
          }
          .p1{
            padding-left: 1em;
            padding-right: 1em;
          }
      }
      
      /* Styles for screen widths 320px and below */
      @media only screen and (max-width: 320px) {
        p{
          font-size: 10px
         }
        h1{
              font-size: 10px
          }
          .p1{
            padding-left: 0.1em;
            padding-right: 0.1em;
          }
      }


